@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    height: 100%;
}

.container {
    width: 1280px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.tittle {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 2.6rem;
    background: -webkit-linear-gradient(-45deg, #444c57, #1c1f24);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 5px;
    user-select: none;
}

.description {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.input {
    min-height: 150px;
    columns: 50;
    padding: 15px;
    width: 800px;
    resize: none;
    outline: none;
    border: none;
    font-size: 24px;
    color: #1c1f24;
    background: linear-gradient(155deg, rgba(255, 240, 240, 0.6), #e9defa, rgba(202, 207, 247, 0.7));
    border-radius: 25px;
    box-shadow: 0 8px 20px rgba(136, 140, 205, 0.4);
    border: solid 1px rgba(255, 255, 255, 0.8);
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    row-gap: 7px;
    width: 90%;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.key {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    min-width: 65px;
    height: 65px;
    border-radius: 15px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(136, 139, 205, 0.8);
    cursor: pointer;
    background-color: #f1e8fe;
}

.keyHelp {
    color: #1c1f24;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding: 8px;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(136, 139, 205, 0.8);
    background-color: #f1e8fe;
    display: inline;
    user-select: none;
}

.key:hover {
    background-color: #e9defa;
}

.key:active,
.key-active {
    transform: translateY(3px);
    box-shadow: 0 0px 0px rgba(136, 140, 205, 0), inset 0 6px 8px rgba(136, 140, 205, 0.6);
}

.key:focus {
    outline: none;
}

.tilda {
    width: 50px;
}

.key_backspace {
    width: 150px;
}

.key_tab {
    width: 95px;
}

.CapsLock {
    position: relative;
    width: 110px;
}

.key_caps::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #1c1f24;
}

.key_enter {
    width: 150px;
}

.key_leftshift {
    width: 145px;
}

.key_rightshift {
    width: 155px;
}

.key_leftctrl {
    width: 90px;
}

.key_rightctrl {
    width: 82px;
}

.key_space {
    width: 590px;
}